body {
    color: rgba(245, 245, 245, 0.829);
    color: #08090af1;
    color: hsla(303, 58%, 64%, 0.651);
    color: #23282dc7;
    color: #515861;
    color: hsl(6, 62%, 53%);
    background: #0b1220;
    background-color:  rgba(255, 0, 255, 0.267);
}