body {
    color: rgba(255, 255, 255, 0.972);
    color: #08090af1;
    color: hsla(303, 58%, 64%, 0.651);
    color: #23282dc7;
    color: #3d3f42;
    color: rgba(248, 99, 248, 0.966);
    background: #0b1220;
    background-color:  rgba(255, 0, 255, 0.267);
    background-color:  #3dc9a6d3;
}